.top{
    display: flex;
    border: 3px dotted black;
    justify-content:space-between
}

.align-right-top{
    height: 20px;
    width: 180px;
    background-color: black;
    color: white;
    font-size: 10pt;
    
}